@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.title {
  font-size: 2em;
  font-weight: bold;
}

.table_title {
  font-size: 1.5em;
  font-weight: bold;
}

.table_column {
  font-size: 1em;
}

.table_cell {
  font-size: 0.9em;
  border-radius: 5px;
  margin-top: 10px;
}

.table_description {
  font-size: 0.9em;
  margin-top: -15px;
  color: grey;
  display: flex;
  justify-content: space-between;
}

.form_add {
  padding: 5%;
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 1em;
  height: 100vh;
  overflow-y: scroll;
  margin-bottom: 100px;
}

.main_form {
  display: flex;
  gap: 1.3em;
  flex-direction: column;
}

.author_listbox {
  border: 1px solid grey;
  border-radius: 10px;
  overflow-y: scroll;
  height: 200px;
  width: min-content;
}

.sidebar_div {
  width: 285px;
}

.sidebar {
  background-color: rgba(156, 155, 172, 0.1);
}

.listbox1 li,
.listbox1 {
  padding: 0;
}

.listbox1 li {
  padding: 2.5% 2%;
}

.accordion_1 {
  padding: 0% 2%;
}

.button_add_new {
  min-height: 40px;
  min-width: 100px;
  width: fit-content;
}

.button_width {
  max-width: 20%;
}

.faded_input {
  cursor: pointer;
}
